@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.home h1, .home button {
   text-transform: uppercase;
}

.home button{
  font-family: 'Helvetica Neue' !important;
  font-style: normal;
  background-color: #4e0808;
}